@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
  font-family: Manrope,'san-serif';
}

.page {
  width: 100%;
  border-radius: 5px;
  background: rgb(255, 255, 255);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.subpage {
  height: 295mm;
}

@page {
  size: A4;
  margin: 0;
  orientation: portrait;
}
@media print {
  .subpage  {
      margin: 0;
      border: initial;
      border-radius: initial;
      width: initial;
      min-height: initial;
      box-shadow: initial;
      background: initial;
      page-break-after: always;
  }
}

.resume-section{
  height: 100vh;
  overflow-y: auto;
}

#temp-1-form-section{
  height: 100vh;
  overflow: auto;
  padding-bottom: 50px;
}

::-webkit-scrollbar-track
{
	background-color: rgb(235, 235, 235);
}

::-webkit-scrollbar
{
	width: 4px;
	background-color: #ffffff;
}

::-webkit-scrollbar-thumb
{
	background-color: rgba(0, 0, 0, 0.3);
}

label,input,textarea{
  font-size: 14px;
}

#menu-card-1{
  background-image: url("https://static-cse.canva.com/blob/566484/modernresumes.jpg");
  background-repeat: no-repeat, repeat;
  background-size: cover;

}