@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
  font-family: Manrope,'san-serif';
}

.page {
  width: 15.1cm;
  min-height: 29.7cm;
  border-radius: 5px;
  background: rgb(255, 255, 255);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.subpage {
  height: 256mm;
}

@page {
  size: A4;
  margin: 0;
}
@media print {
  .page {
      margin: 0;
      border: initial;
      border-radius: initial;
      width: initial;
      min-height: initial;
      box-shadow: initial;
      background: initial;
      page-break-after: always;
  }
}

.resume-section{
  height: 100vh;
  overflow: scroll;
}